/*************
 ** FLAGGOR **
 *************/

// Usage:
// Inkludera mixin i selector så kommmer dess :before-element innehålla grunden flagga.
// Element måste ha klassnamn enligt modellen flag-xx, där xx är deras landskod ISO 3166-1 alpha-2.
// Se även till att /img/flags/flags32.png existerar. Orginalfilen ligger i Mixins-mappen.

@mixin flags($flag-width: 30px, $flag-org-width: 30px, $flag-org-height: 25px) {
  $flag-height: $flag-width * ($flag-org-height / $flag-org-width);

  &:before {
    display: inline-block;
    content: "";
    width: $flag-width;
    height: $flag-height;
    background: url(/img/flags/flag-sprite.png) no-repeat;
    background-size: 100%;
  }

  @each $country, $offset in $flags {
    @at-root {
      .flag-#{$country} {
        &:before {
          background-position: 0 ceil($offset *                             // vanlig offset från karta
                                     ($flag-width / $flag-org-width) -      // öka/minska offset när $flag-width är större/mindre än orginal
                                     (($flag-width - ($flag-height)) / 2)); // kompensera för att vi skalar bort whitespace
        }
      }
    }
  }
}

$flags: (
  eu: -256px,
  ad: -704px,
  ae: -736px,
  af: -768px,
  ag: -800px,
  ai: -832px,
  al: -864px,
  am: -896px,
  ao: -928px,
  aq: -960px,
  ar: -992px,
  as: -1024px,
  at: -1056px,
  au: -1088px,
  aw: -1120px,
  ax: -1152px,
  az: -1184px,
  ba: -1216px,
  bb: -1248px,
  bd: -1280px,
  be: -1312px,
  bf: -1344px,
  bg: -1376px,
  bh: -1408px,
  bi: -1440px,
  bj: -1472px,
  bm: -1504px,
  bn: -1536px,
  bo: -1568px,
  br: -1600px,
  bs: -1632px,
  bt: -1664px,
  bw: -1696px,
  by: -1728px,
  bz: -1760px,
  ca: -1792px,
  cd: -1824px,
  cf: -1856px,
  cg: -1888px,
  ch: -1920px,
  ci: -1952px,
  ck: -1984px,
  cl: -2016px,
  cm: -2048px,
  cn: -2080px,
  co: -2112px,
  cr: -2144px,
  cu: -2176px,
  cv: -2208px,
  cy: -2240px,
  cz: -2272px,
  de: -2304px,
  dj: -2336px,
  dk: -2368px,
  dm: -2400px,
  do: -2432px,
  dz: -2464px,
  ec: -2496px,
  ee: -2528px,
  eg: -2560px,
  eh: -2592px,
  er: -2624px,
  es: -2656px,
  et: -2688px,
  fi: -2720px,
  fj: -2752px,
  fm: -2784px,
  fo: -2816px,
  fr: -2848px,
  bl: -2848px,
  cp: -2848px,
  mf: -2848px,
  yt: -2848px,
  ga: -2880px,
  gb: -2912px,
  sh: -2912px,
  gd: -2944px,
  ge: -2976px,
  gg: -3008px,
  gh: -3040px,
  gi: -3072px,
  gl: -3104px,
  gm: -3136px,
  gn: -3168px,
  gp: -3200px,
  gq: -3232px,
  gr: -3264px,
  gt: -3296px,
  gu: -3328px,
  gw: -3360px,
  gy: -3392px,
  hk: -3424px,
  hn: -3456px,
  hr: -3488px,
  ht: -3520px,
  hu: -3552px,
  id: -3584px,
  mc: -3584px,
  ie: -3616px,
  il: -3648px,
  im: -3680px,
  in: -3712px,
  iq: -3744px,
  ir: -3776px,
  is: -3808px,
  it: -3840px,
  je: -3872px,
  jm: -3904px,
  jo: -3936px,
  jp: -3968px,
  ke: -4000px,
  kg: -4032px,
  kh: -4064px,
  ki: -4096px,
  km: -4128px,
  kn: -4160px,
  kp: -4192px,
  kr: -4224px,
  kw: -4256px,
  ky: -4288px,
  kz: -4320px,
  la: -4352px,
  lb: -4384px,
  lc: -4416px,
  li: -4448px,
  lk: -4480px,
  lr: -4512px,
  ls: -4544px,
  lt: -4576px,
  lu: -4608px,
  lv: -4640px,
  ly: -4672px,
  ma: -4704px,
  md: -4736px,
  me: -4768px,
  mg: -4800px,
  mh: -4832px,
  mk: -4864px,
  ml: -4896px,
  mm: -4928px,
  mn: -4960px,
  mo: -4992px,
  mq: -5024px,
  mr: -5056px,
  ms: -5088px,
  mt: -5120px,
  mu: -5152px,
  mv: -5184px,
  mw: -5216px,
  mx: -5248px,
  my: -5280px,
  mz: -5312px,
  na: -5344px,
  nc: -5376px,
  ne: -5408px,
  ng: -5440px,
  ni: -5472px,
  nl: -5504px,
  bq: -5504px,
  no: -5536px,
  bv: -5536px,
  nq: -5536px,
  sj: -5536px,
  np: -5568px,
  nr: -5600px,
  nz: -5632px,
  om: -5664px,
  pa: -5696px,
  pe: -5728px,
  pf: -5760px,
  pg: -5792px,
  ph: -5824px,
  pk: -5856px,
  pl: -5888px,
  pr: -5920px,
  ps: -5952px,
  pt: -5984px,
  pw: -6016px,
  py: -6048px,
  qa: -6080px,
  re: -6112px,
  ro: -6144px,
  rs: -6176px,
  ru: -6208px,
  rw: -6240px,
  sa: -6272px,
  sb: -6304px,
  sc: -6336px,
  sd: -6368px,
  se: -6400px,
  sg: -6432px,
  si: -6464px,
  sk: -6496px,
  sl: -6528px,
  sm: -6560px,
  sn: -6592px,
  so: -6624px,
  sr: -6656px,
  st: -6688px,
  sv: -6720px,
  sy: -6752px,
  sz: -6784px,
  tc: -6816px,
  td: -6848px,
  tg: -6880px,
  th: -6912px,
  tj: -6944px,
  tl: -6976px,
  tm: -7008px,
  tn: -7040px,
  to: -7072px,
  tr: -7104px,
  tt: -7136px,
  tv: -7168px,
  tw: -7200px,
  tz: -7232px,
  ua: -7264px,
  ug: -7296px,
  us: -7328px,
  uy: -7360px,
  uz: -7392px,
  va: -7424px,
  vc: -7456px,
  ve: -7488px,
  vg: -7520px,
  vi: -7552px,
  vn: -7584px,
  vu: -7616px,
  ws: -7648px,
  ye: -7680px,
  za: -7712px,
  zm: -7744px,
  zw: -7776px,
  sx: -7808px,
  cw: -7840px,
  ss: -7872px
);