/**********
 ** GRID **
 **********/

@mixin dynamic-col($column-span, $amount) {
  // Skriv över befintliga regler
  @if $amount == 1 {
    width: auto;
    float: none;
    margin-right: 0;
  }
  
  @else {

    /*****************
     * Bestäm bredd  *
     *****************/

    width: percentage(
      (((1 / $amount) * $column-span) - site(gutter)) + // hitta kolumnbredden, subtrahera gutter.
      ((site(gutter) / $amount) * $column-span)         // fördela och dela ut sista elementets gutter.
    );

    /*********************************
     * Dela ut floats och marginaler *
     *********************************/

    &:nth-child(n) { // nth-child(n) för att få samma prio som nth-childs i lägre mqs
      float: left;
      margin-right: percentage(site(gutter));
    }

    @if $column-span == 1 {
      &:last-child,
      &:nth-child(#{$amount}n+#{$amount}) { // Sista kolumnen i varje rad
        margin-right: 0;
      }
    }

    // col-span > 1 saknar stöd för flera rader...
    @else {
      &:last-child {
        @if $amount != 2 {
          margin-right: 0;
        }
      }
    }
  }

  /***********
   * Övrigt  *
   ***********/

  // Fungerar inte med ojämnt antal...
  // &:nth-last-child(-n+#{$amount}) { // Ta bort bottenmarginal på sista raden
  //   margin-bottom: 0; 
  // }
}