/*****************
 ** PLUG & PLAY **
 *****************/


@mixin user-select($foo) {
  -webkit-touch-callout: $foo;
    -webkit-user-select: $foo;
     -khtml-user-select: $foo;
       -moz-user-select: $foo;
        -ms-user-select: $foo;
            user-select: $foo;
}

@mixin filter($foo) {
  -webkit-filter: $foo;
     -moz-filter: $foo;
      -ms-filter: $foo;
          filter: $foo;
}

@mixin overflow-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}

@mixin appearance($value) {
  -webkit-appearance: $value;
     -moz-appearance: $value;
          appearance: $value;
}


// Long shadows
@function longshadow($color, $length) {
  $value: 0 0 $color;

  @for $i from 1 through $length {
    $value: #{$value}, #{$i}px #{$i}px #{$color};
  }

  @return $value;
}




// Shadow covers - indikera scrollbart element med lätta skuggor 
@mixin shadow-covers($bg-color, $shadow-strength, $shadow-size) {
  background:
    linear-gradient($bg-color 30%, rgba(#fff,0)),
    linear-gradient(rgba(#fff,0), $bg-color 70%) 0 100%,
    
    radial-gradient(50% 0, farthest-side, rgba(#000, $shadow-strength), rgba(#000, 0)),
    radial-gradient(50% 100%,farthest-side, rgba(#000, $shadow-strength), rgba(#000, 0)) 0 100%;
  
  background:
    linear-gradient($bg-color 30%, rgba(#fff,0)),
    linear-gradient(rgba(#fff,0), $bg-color 70%) 0 100%,
    
    radial-gradient(farthest-side at 50% 0, rgba(#000, $shadow-strength), rgba(#000, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(#000, $shadow-strength), rgba(#000, 0)) 0 100%;
  
  background-repeat: no-repeat;
  background-color: $bg-color;
  background-size: 100% 40px, 100% 40px, 100% $shadow-size, 100% $shadow-size;
  background-attachment: local, local, scroll, scroll;
}

