/*****************
 ** TRANSITIONS **
 *****************/

@mixin transition($duration, $easing) {
  -webkit-transition: $duration $easing;
     -moz-transition: $duration $easing;
          transition: $duration $easing;
}

@mixin custom-transition($foo) {
  -webkit-transition: $foo;
     -moz-transition: $foo;
       -o-transition: $foo;
          transition: $foo;
}

@mixin easing($foo) {
  -webkit-transition-timing-function: $foo;
     -moz-transition-timing-function: $foo;
          transition-timing-function: $foo;
}

@mixin transition-delay($foo) {
  -webkit-transition-delay: $foo;
          transition-delay: $foo;
}

@mixin transform-transition($foo) {
  -webkit-transition: -webkit-transform $foo;
     -moz-transition: -moz-transform $foo;
          transition: transform $foo;
}

@mixin delay-siblings($type, $amount, $shortest-duration, $delay-child: null) {
  @for $nth-child from 1 through $amount {
    
    &:nth-child(#{$nth-child}) #{$delay-child} {
      @if $type == transition {
        -webkit-transition-delay: #{$shortest-duration * $nth-child};
                transition-delay: #{$shortest-duration * $nth-child};
      }

      @if $type == animation {
        -webkit-animation-delay: #{$shortest-duration * $nth-child};
                animation-delay: #{$shortest-duration * $nth-child};
      }
    }
  }
}