/**************
 ** MATH PLZ **
 **************/

// Power of
@function pow($base, $exp) {
  $value: $base;

  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }

  @if $exp < 1 {
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }

  @return $value;
}

// Power of golden ratio
@function gr($exp, $unit: em) {
  @if $unit != null {
    @return pow(1.618, $exp) + $unit;
  }

  @else {
    @return pow(1.618, $exp);
  }
}

// Hitta brytpunkt i root em som motsvarar $site-width 
@function siteWidth($exp: 1) {
  $normalize: ((site(font-size) / 16px) * site(width)) * $exp;

  @return $normalize;
}