/************
 ** MIXINS **
 ************/

/**********
 ** GRID **
 **********/

@mixin dynamic-col($column-span, $amount) {
  // Skriv över befintliga regler
  @if $amount == 1 {
    width: auto;
    float: none;
    margin-right: 0;
  }
  
  @else {

    /*****************
     * Bestäm bredd  *
     *****************/

    width: percentage(
      (((1 / $amount) * $column-span) - site(gutter)) + // hitta kolumnbredden, subtrahera gutter.
      ((site(gutter) / $amount) * $column-span)         // fördela och dela ut sista elementets gutter.
    );

    /*********************************
     * Dela ut floats och marginaler *
     *********************************/

    &:nth-child(n) { // nth-child(n) för att få samma prio som nth-childs i lägre mqs
      float: left;
      margin-right: percentage(site(gutter));
    }

    @if $column-span == 1 {
      &:last-child,
      &:nth-child(#{$amount}n+#{$amount}) { // Sista kolumnen i varje rad
        margin-right: 0;
      }
    }

    // col-span > 1 saknar stöd för flera rader...
    @else {
      &:last-child {
        @if $amount != 2 {
          margin-right: 0;
        }
      }
    }
  }

  /***********
   * Övrigt  *
   ***********/

  // Fungerar inte med ojämnt antal...
  // &:nth-last-child(-n+#{$amount}) { // Ta bort bottenmarginal på sista raden
  //   margin-bottom: 0; 
  // }
}

/*****************
 ** CONVENIENCE **
 *****************/

// Lägg till förälder innan &
@mixin parent($parent, $pseudo: null, $negation: null) {
  @if $pseudo == null {
    @at-root .#{$parent} & {
      @content;
    }
  }

  @else if $negation == null {
    @at-root .#{$parent}:#{$pseudo} & {
      @content;
    }
  }

  @else {
    @at-root .#{$parent}:not(:#{$pseudo}) & {
      @content;
    }
  }
}


// Reverse-logic för att använda feature detection utan att vara beroende av js i moderna webbläsare
@mixin if($classname) {
  @at-root {
    html:not(.no-#{$classname}) { @content; }
  }
}


// Selector för h1-6 #lazy
@mixin headings($max: 6, $min: 1) {
  @if $max <= 6 and $min >= 1 {
    @for $i from $min through $max {
      h#{$i} {
        @content;
      }
    }
  }

  @else {
    @for $i from 1 through 6 {
      h#{$i} {
        @content;
      }
    }
  }
}

// Traditionell clockwise TRBL-inheritance. Uteslut värden med "null".
@mixin position($position, $top: null, $right: $top, $bottom: $top, $left: $right) {
  position: $position;
  @if $top    != null or n { top:    $top;    }
  @if $right  != null or n { right:  $right;  }
  @if $bottom != null or n { bottom: $bottom; }
  @if $left   != null or n { left:   $left;   }
}


@mixin border($properties, $sides: null) {
  @each $side in $sides {
    @if      $side == null   { border:        $properties; }
    @else if $side == top    { border-top:    $properties; }
    @else if $side == right  { border-right:  $properties; }
    @else if $side == bottom { border-bottom: $properties; }
    @else if $side == left   { border-left:   $properties; }
  }
}


@mixin placeholder-styling {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; } // lte Firefox 18
  &::-moz-placeholder          { @content; } // gte Firefox 19
  &:-ms-input-placeholder      { @content; }
}

/*****************
 ** TRANSITIONS **
 *****************/

@mixin transition($duration, $easing) {
  -webkit-transition: $duration $easing;
     -moz-transition: $duration $easing;
          transition: $duration $easing;
}

@mixin custom-transition($foo) {
  -webkit-transition: $foo;
     -moz-transition: $foo;
       -o-transition: $foo;
          transition: $foo;
}

@mixin easing($foo) {
  -webkit-transition-timing-function: $foo;
     -moz-transition-timing-function: $foo;
          transition-timing-function: $foo;
}

@mixin transition-delay($foo) {
  -webkit-transition-delay: $foo;
          transition-delay: $foo;
}

@mixin transform-transition($foo) {
  -webkit-transition: -webkit-transform $foo;
     -moz-transition: -moz-transform $foo;
          transition: transform $foo;
}

@mixin delay-siblings($type, $amount, $shortest-duration, $delay-child: null) {
  @for $nth-child from 1 through $amount {
    
    &:nth-child(#{$nth-child}) #{$delay-child} {
      @if $type == transition {
        -webkit-transition-delay: #{$shortest-duration * $nth-child};
                transition-delay: #{$shortest-duration * $nth-child};
      }

      @if $type == animation {
        -webkit-animation-delay: #{$shortest-duration * $nth-child};
                animation-delay: #{$shortest-duration * $nth-child};
      }
    }
  }
}

/****************
 ** ANIMATIONS **
 ****************/

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name { @content; }
  @keyframes         $animation-name { @content; }
}

@mixin animation($properties) { // t.ex. (keyframe-namn 1s infinite linear)
  -webkit-animation: $properties;
          animation: $properties;
}

@mixin animation-($foo, $bar) {
  -webkit-animation-#{$foo}: $bar;
          animation-#{$foo}: $bar;
}

@mixin fill-mode($value) {
  -webkit-animation-fill-mode: $value;
          animation-fill-mode: $value;
}

@mixin iterations($value) {
  -webkit-animation-iteration-count: $value;
          animation-iteration-count: $value;
}

/****************
 ** TRANSFORMS **
 ****************/

// 2D + base
@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin transform-($foo, $bar) {
  -webkit-transform-#{$foo}: $bar;
     -moz-transform-#{$foo}: $bar;
      -ms-transform-#{$foo}: $bar;
          transform-#{$foo}: $bar;
}


// 3D
@mixin perspective($foo) {
  -webkit-perspective: $foo;
     -moz-perspective: $foo;
          perspective: $foo;
}

@mixin backface($visibility) {
  -webkit-backface-visibility: $visibility;
     -moz-backface-visibility: $visibility;
          backface-visibility: $visibility;
}

@import "/Volumes/mixins/partials/_keyframes";

/***************
 ** GRADIENTS **
 ***************/

@mixin gradient($top, $bottom) {
  background: $top;
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
}

@mixin horizontal-gradient($left, $right) {
  background: $left;
  background: -moz-linear-gradient(left,  $left 0%, $right 100%);
  background: -webkit-linear-gradient(left,  $left 0%,$right 100%);
  background: linear-gradient(to right,  $left 0%,$right 100%);
}

@mixin radial-gradient($background, $front, $stretch) {
  background: $background;
  background: -moz-radial-gradient(center, ellipse cover,  $front 0%, $background $stretch);
  background: -webkit-radial-gradient(center, ellipse cover,  $front 0%,$background $stretch);
  background: radial-gradient(ellipse at center,  $front 0%,$background $stretch);
}

@mixin diagonal-gradient($tilt, $background, $front) {
  background: $background;
  background: -moz-linear-gradient($tilt,  $background 0%, $front 100%);
  background: -webkit-linear-gradient($tilt,  $background 0%,$front 100%);
  background: linear-gradient($tilt,  $background 0%,$front 100%);
}

/*****************
 ** PLUG & PLAY **
 *****************/


@mixin user-select($foo) {
  -webkit-touch-callout: $foo;
    -webkit-user-select: $foo;
     -khtml-user-select: $foo;
       -moz-user-select: $foo;
        -ms-user-select: $foo;
            user-select: $foo;
}

@mixin filter($foo) {
  -webkit-filter: $foo;
     -moz-filter: $foo;
      -ms-filter: $foo;
          filter: $foo;
}

@mixin overflow-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}

@mixin appearance($value) {
  -webkit-appearance: $value;
     -moz-appearance: $value;
          appearance: $value;
}


// Long shadows
@function longshadow($color, $length) {
  $value: 0 0 $color;

  @for $i from 1 through $length {
    $value: #{$value}, #{$i}px #{$i}px #{$color};
  }

  @return $value;
}




// Shadow covers - indikera scrollbart element med lätta skuggor 
@mixin shadow-covers($bg-color, $shadow-strength, $shadow-size) {
  background:
    linear-gradient($bg-color 30%, rgba(#fff,0)),
    linear-gradient(rgba(#fff,0), $bg-color 70%) 0 100%,
    
    radial-gradient(50% 0, farthest-side, rgba(#000, $shadow-strength), rgba(#000, 0)),
    radial-gradient(50% 100%,farthest-side, rgba(#000, $shadow-strength), rgba(#000, 0)) 0 100%;
  
  background:
    linear-gradient($bg-color 30%, rgba(#fff,0)),
    linear-gradient(rgba(#fff,0), $bg-color 70%) 0 100%,
    
    radial-gradient(farthest-side at 50% 0, rgba(#000, $shadow-strength), rgba(#000, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(#000, $shadow-strength), rgba(#000, 0)) 0 100%;
  
  background-repeat: no-repeat;
  background-color: $bg-color;
  background-size: 100% 40px, 100% 40px, 100% $shadow-size, 100% $shadow-size;
  background-attachment: local, local, scroll, scroll;
}



// Flaggor! 
@import "/Volumes/mixins/partials/_flags";

/****************
 ** DEPRECATED **
 ****************/

@mixin transition-linear($duration) {
  -webkit-transition: $duration linear;
     -moz-transition: $duration linear;
       -o-transition: $duration linear;
          transition: $duration linear;
}

@mixin col-1($amount) {
  @if $amount == 2 {
    width: percentage((1 - $gutter) / $amount);
  } @else {
    width: percentage((1 - $gutter * ($amount - 1)) / $amount);
  }
}

@mixin scale($factor) {
  -webkit-transform: scale($factor);
     -moz-transform: scale($factor);
      -ms-transform: scale($factor);
          transform: scale($factor);
}


@mixin filter-blur($blur) {
  -webkit-filter: blur($blur);
     -moz-filter: blur($blur);
      -ms-filter: blur($blur);
          filter: blur($blur);
}

@mixin cover-all-fixed($offset) {
  position: fixed;
  top:      $offset;
  right:    $offset;
  bottom:   $offset;
  left:     $offset;
}

@mixin opacity-1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

@mixin opacity-0 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
}

@mixin timing-function($foo) {
  -webkit-transition-timing-function: $foo;
     -moz-transition-timing-function: $foo;
          transition-timing-function: $foo;
}

@mixin animation-delay($delay) {
  -webkit-animation-delay: $delay;
          animation-delay: $delay;
}

@mixin cover-all($offset, $position: absolute) {
  position: $position;
  top:      $offset;
  right:    $offset;
  bottom:   $offset;
  left:     $offset;
}


// Sätt box-sizing
$cms: null !default;
@mixin bs($cms, $foo) {
  @if $cms == Concrete5 {
    -webkit-box-sizing: $foo;
       -moz-box-sizing: $foo;
            box-sizing: $foo;
  }

  @else {
    -webkit-box-sizing: $foo;
       -moz-box-sizing: $foo;
            box-sizing: $foo;
  }
}


// Ta bort konstigheter i Concrete5
@mixin concrete5-reset {
  @if $cms == Concrete5 {
    .unoslider_indicator a,
    .ui-dialog input,
    #ccm-page-controls-wrapper input,
    #ccm-dashboard-overlay,
    #ccm-nav-edit,
    #ccm-nav-dashboard,
    #ccm-nav-sign-out,
    #fancybox-wrap,
    #fancybox-outer,
    #fancybox-content { box-sizing: content-box; }
  
    #ccm-page-controls-wrapper {
      strong {
        color: #0088cc;
      }
    }
  
    .ccm-dialog-tabs {
      float: none !important;
    }
  
    #ccm-file-add-multiple-tab { // Lägger sig över uppladdningsknapp annars
      max-width: 350px;
    }
  
    .ccm-ui div.clearfix { // Seriöst?
      padding-bottom: 0 !important;
    }
  }
}